[submodule ".registry"]
	path = .registry
	url = https://github.com/jobnmadu/jobnmadu.r-universe.dev
	branch = HEAD
[submodule "Dyn4cast"]
	path = Dyn4cast
	url = https://github.com/JobNmadu/Dyn4cast
